.item-page {
  max-width: 48rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
  @media (min-width: 768px) {.item-page {
    flex-direction: row
}
  }
  .item-page__image {
    flex: 1;

    background-size: cover;
    background-position: center;

    min-height: 24rem;

    margin: 0 0 1rem 0;
  }
  @media (min-width: 768px) {
  .item-page__image {
      margin: 0 1rem 0 0
  }
    }
  .item-page__content {
    flex: 3;
  }
  .item-page__content-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
